---
---

@import "{{ site.theme }}";

// Default colors:
// https://github.com/pages-themes/hacker/blob/master/_sass/_default_colors.scss
$dark-purple: #231123;

a {
    color: $conifer;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: $dark-purple;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

header h1 {
    font-family: 'Roboto Mono', monospace;
}

header h1:before {
    content: "% ";
    font-size: 30px;
}

header h1:after {
    content: "_";
    animation: blinker .530s step-start infinite;

    margin-left: 2px;
    font-size: 30px;
    color: #fff;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}